/* sidebar-section general */
.sidebar-section {
  position: fixed;
  width: 0;
  width: 0;
  background-color: $color-dark;
  z-index: 2;
  height: 100%;
  overflow: auto;
}

.sidebar-active {
  width: 180px;
}

/* header section */
.sidebar-heading {
  @include flex-center;

  h1 {
    color: $color-light;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    padding-top: 10px;
  }

  a {
    display: block;
    padding: 10px 10px 0 20px;
    font-size: 25px;
  }
}

.sidebar-header a:hover {
  color: $color-orange;
}

/* sidebar-list */
.sidebar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 1;

  li a {
    display: flex;
    color: $color-grey;
    padding: 8px;
    text-decoration: none;
    align-items: center;
    border-left: 10px solid $color-dark;

    &:hover {
      color: $color-light;
      background-color: $color-grey;
      border-left: 8px solid $color-orange;
    }
  }
}

/* manager section column */
.sidebar-managers {
  padding-top: 20px;
  border-top: 2px solid $color-blue;
}

.manager-section {
  padding: 0 13px 15px 13px;

  .manager {
    @include flex-center;

    img {
      width: 55px;
      height: 65px;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
    }

    .dot-sidebar {
      @include dot;
      top: 465px;
      left: 60px;
    }

    p {
      padding-top: 14px;
    }
  }
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 0 20px;
  color: $color-grey-light;
}

/* sidebar-closed */
.sidebar-section-closed {
  position: fixed;
  width: 0;
  height: 60px;
  background-color: $color-dark;
  z-index: 2;
  overflow: auto;

  a {
    display: block;
    padding: 8px 10px 0 17px;
    font-size: 25px;

    &:hover {
      color: $color-orange;
    }
  }
}

.sidebar-hamburger-only {
  width: 60px;
  height: 55px;
  border-radius: 0 $radius $radius 0;
}

/* nav in sidebar */
.sidebar-list .leonardo {
  font-size: 10px;
}

.dropdown {
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 1;

    a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  color: $color-dark;
  background-color: black;
}

.two-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    width: 100%;

    .link-notofication {
      border-left: none;
      border-right: 8px solid $color-dark;
    }

    .link-notofication:hover {
      border-left: none;
      border-right: 8px solid $color-orange;
    }
  }
}
