*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  background: white;
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
  line-height: 1.7;
  font-weight: $font-weight-normal;
  color: $paragraph-color;
}

/* content */
.content {
  margin-left: 0;
  height: 1000px;
}

.content-to-right {
  margin-left: 180px;
}

.wrapper {
  width: 100%;
  padding-top: 55px;
}

.remove-padding-top-on-wrapper {
  padding-top: 0;
}

/* container types */
.container {
  margin: 0 300px;
}

.container-basic {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.hide {
  display: none;
}

/* margins and paddings */
.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 2px;
}

/* rows and columns */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@media (max-width: 767px) {
  @include grid('sm');
}

@media (min-width: 768px) {
  @include grid('md');
}

@media (min-width: 992px) {
  @include grid('lg');
}

@media (min-width: 1200px) {
  @include grid('xl');
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* media */
@media (max-width: 425px) {
  // mobile - L
  body {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (max-width: 375px) {
  // mobile - M
  body {
    font-size: 11px;
    line-height: 1.5;
  }
}

@media (max-width: 320px) {
  // mobile - S
  body {
    font-size: 10px;
    line-height: 1.4;
  }
}
