/* icons */
@mixin icon {
  width: 20px;
  height: 20px;
  color: $color-grey-light;
}

/* dot */
@mixin dot {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: $color-green;
  border-radius: 50%;
  display: inline-block;
}

/* Buttons */
@mixin button {
  color: $color-light;
  border: none;
  border-radius: $radius;
  transition: $transition;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 125px;
  height: 40px;
}

@mixin button-grey {
  @include button;
  background: $color-grey;

  &:hover {
    background: $color-grey-light;
  }
}

@mixin button-orange {
  @include button;
  background: $color-orange;

  &:hover {
    background: $color-orange-light;
  }
}

@mixin button-disabled {
  @include button;
  background: lighten($color-grey-light, 3%);
}

/* links */
a {
  text-decoration: none; // no underline
  color: $color-blue;

  &:hover {
    color: $color-orange-light;
  }
}

/* borders */
.border {
  border: 15px solid #f2f2f2;
  border-collapse: collapse;
}

@mixin border-bottom {
  border-bottom: 1px solid $color-blue;
}

@mixin border-top {
  border-top: 1px solid $color-blue;
}

@mixin border-all {
  border: 1px solid $color-blue;
}

/* headers */
@mixin h3 {
  @include border-bottom;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: $color-grey;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 20px 15px;
}

@mixin h4 {
  @include h3;
  font-size: 20px;
  border: none;
  padding: 0;
}

/* flex */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
